{% extends 'base.html' %}

{% block content %}
<html>
<head>
    <title>Carrito de Compras</title>
</head>
<body>

    <h1>Carrito de Compras</h1>
    <ul>
        {% for elemento in carrito.elementos.all %}
            <li>{{ elemento.cantidad }} x {{ elemento.producto.nombre }} - 
                ${{ elemento.producto.precio }} c/u - 
                <a href="{% url 'eliminar_del_carrito' elemento.id %}">Eliminar</a>
            </li>
        {% endfor %}
    </ul>
    <h2>Total: ${{ total }}</h2>
    <button class="btn bg-dark"><a href="{% url 'home' %}">Seguir Comprando</a></button>


</body>
</html>
{% endblock %}
