{% extends 'base.html' %}

{% block content %}
<div class="col-md-4 offset-md-4">
    <div class="card mt-5" style="width: 18rem;">
        <img src="{{producto.imagen.url}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{producto.nombre}}</h5>
          <p class="card-text">{{producto.descripcion}}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Precio: ${{producto.precio}}</li>
          <li class="list-group-item">Categoria: {{producto.categoria}}</li>
          <li class="list-group-item">Subido por: {{producto.user.username}}</li>
        </ul>
      </div>
</div>

{% endblock %}
